:root {
  --main-bg: #00a0e9;
  --main-color: #fff;
  --main-black: #000;
  --main-cyan: #00a0e9;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: prophetMedium;
  src: url('../fonts/prophetMedium.otf') format('otf'),
    url('../fonts/prophetMedium.ttf') format('ttf'),
    url('../fonts/prophetMedium.woff') format('woff');
}

@font-face {
  font-family: prophetRegular;
  src: url('../fonts/prophetRegular.otf') format('otf'),
    url('../fonts/prophetRegular.ttf') format('ttf'),
    url('../fonts/prophetRegular.woff') format('woff');
}

* {
  user-select: none;
  -webkit-overflow-scrolling: touch;
}

body {
  width: 100vw;
  min-height: 100vh;

  margin: 0;
  padding: 0;

  color: var(--main-color);

  background-color: var(--main-bg);
  overflow-x: hidden;
  overflow-y: scroll;
}

ul {
  font-size: 16px;
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: prophetMedium, sans-serif;
  font-style: normal;
  margin: 0;
  color: var(--main-black);
}

h1 {
  font-size: 36px;
  text-transform: capitalize;
  position: relative;
  top: -13px;
  margin-bottom: 80px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

.title {
  min-height: 64px;
}

p,
span,
a {
  font-size: 24px;
  font-family: prophetRegular, sans-serif;
  font-style: normal;
  color: var(--main-black);
  margin: 0;
}

.grid-auto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr
    2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.wrapper {
  padding: 40px;
}

.gd18 {
  position: fixed;
  top: 40px;
  left: 40px;
  max-width: 210px;
  max-height: 65px;
  z-index: 10;
}

.gd18 img {
  max-width: 100%;
}

/* Footer */
.footer {
  padding: 40px;
  width: 100%;
  position: relative;
  left: -40px;
  bottom: -40px;
  background: var(--main-color);
  color: var(--main-black);
}

.footer * {
  font-size: 18px;
  margin-bottom: 0;
}

.footer img {
  position: fixed;
  bottom: 40px;
  left: 40px;
  max-width: 95px;
  max-height: 131px;
  z-index: 10;
}

.footer-div-1 {
  grid-column: 4 / span 3;
}

.footer-div-2 {
  grid-column: 9 / span 3;
}

.footer-div-2 > * {
  margin-bottom: 2vw;
}

.footer-div-2 > *:nth-last-child(1) {
  margin-bottom: 0;
}

.footer-div-1,
.footer-div-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Home */
.map {
  grid-column: 5 / span 4;
  max-width: 100%;
  cursor: pointer;
  position: relative;
}

.page-titles {
  position: absolute;
  right: -20px;
  top: 0;
}

.page-titles h1 {
  position: absolute;
  visibility: hidden;
}

.mobile-menu-home {
  display: none;
}

.cls {
  fill: var(--main-bg);
  stroke: var(--main-color);
  stroke-width: 30px;
}

.cls:hover {
  fill: var(--main-color);
}

.crest {
  display: block;
  position: absolute;
  left: 40px;
  bottom: 0;
  max-width: 95px;
  max-height: 131px;
  cursor: pointer;
}

.crest > img {
  width: 100%;
}

.crest-text {
  visibility: hidden;
  position: relative;
  top: -103px;
  width: 394px;
  left: 115px;
  color: black;
  line-height: 23px;
}
.crest-text * {
  font-size: 16px;
}

.crest:hover .crest-text {
  visibility: visible;
}

.sponsors {
  display: block;
  position: absolute;
  right: 4rem;
  bottom: 4rem;
}

.sponsors a {
  display: block;
}

.sponsors-mobile {
  display: none;
}

.blink {
  width: 60px;
}
.blink > img {
  width: 100%;
}

.epic {
  width: 60px;
}
.epic > img {
  width: 100%;
}

/* About */
.about {
  height: 100%;
}

.section-about-1 {
  grid-column: 4 / span 6;
}

.section-about-1 h1 {
  color: var(--main-black);
}

.section-about-1 > *,
.section-about-2 {
  margin-bottom: 20px;
}

#about-title {
  margin-bottom: 80px;
}

.section-about-1 > *:nth-last-child(1) {
  margin-bottom: 0;
}

.section-about-banner {
  grid-column: 1 / span 12;
  width: calc(100vw + 80px);
  position: relative;
  left: -40px;
  margin: 40px 0;
}

.section-about-banner img {
  width: 100%;
}

.section-about-2 {
  grid-column: 4 / span 6;
}

.section-about-2 a {
  font-family: prophetMedium, sans-serif;
}

.section-about-2 > *:nth-last-child(1) {
  margin-top: 2vw;
}

/* Directions */

.directions {
  height: 100%;
}

.directions > * {
  grid-column: 4 / span 6;
}

.opening {
  grid-column: 4 / span 3;
}
.demo-gallery {
  grid-column: 7 / span 3;
}

.direction-iframe * {
  border: none;
}

.directions div:nth-last-child(1) {
  margin-bottom: 10vw;
}

.directions div:nth-last-child(1) *:nth-last-child(1) {
  margin-top: 2vw;
}

/* Student */

.section-student {
  grid-column: 4 / span 6;
}

.section-student > * {
  margin-bottom: 5vw;
}
.student-title {
  position: relative;
  margin-bottom: 2vw;
}
.student-title * {
  font-size: 36px;
  position: relative;
  top: -26px;
}

.student-name {
  position: relative;
  top: -13px;
}
.student-qulification {
  font-size: 24px;
  margin-top: 5vw;
  position: relative;
  bottom: 0;
}
.student-image {
  margin-bottom: 0;
}
.student-image img {
  width: 100%;
  min-height: 378px;
  object-fit: contain;
  margin-bottom: 40px;
}

.student-image img:nth-last-child(1) {
  margin-bottom: 0;
}

.student-statement {
  margin-top: 40px;
}

.student-statement > p {
  margin-bottom: 20px;
}

/* Photos */

.section-photos {
  grid-column: 4 / span 6;
  width: 100%;
}

.section-photos > *,
.photos-images {
  margin-bottom: 40px;
}

.photos-images {
  position: relative;
}

.photos-images > div {
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: overlay;
}

.photos-images > div:hover {
  background-color: #007db3;
}

.photos-images .photo {
  width: 100%;
  min-height: 100px;
  max-height: 426px;
  object-fit: contain;
}

/* Works */
.works-section {
  grid-column: 4 / span 6;
}
.works-section ul li a {
  margin-bottom: 5px;
}
.works-section ul li a:hover {
  color: var(--main-cyan);
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .grid-auto {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr 2rem 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .directions,
  .section-student,
  .section-about-1,
  .works-section,
  .map,
  .photos {
    margin-top: 105px;
  }

  /* Footer */
  .footer-div-1 {
    grid-column: 1 / span 4;
    grid-row: 1;
  }

  .footer-div-2 {
    grid-column: 1 / span 4;
    grid-row: 2;
    margin-bottom: 120px;
  }

  /* Home */

  .map {
    grid-column: 1 / span 4;
  }

  .page-titles {
    display: none;
  }

  .crest {
    display: none;
  }

  .sponsors {
    display: none;
  }

  .mobile-menu-home {
    /* margin-top: 100vh; */
    display: grid;
    position: absolute;
    left: 25px;
    top: 70px;
    width: calc(100% - 60px);
  }
  .mobile-menu-home > a {
    grid-column: 1 / span 4;
    height: 50px;
  }

  .mobile-menu-home a:first-child {
    margin-top: 85px;
  }

  .crest-mobile {
    grid-column: 1 / span 4;
  }

  .crest-mobile img {
    width: 95px;
  }

  /* About */
  .section-about-1 {
    width: 100%;
    grid-column: 1 / span 4;
  }

  .section-about-1 img {
    width: 100%;
  }

  .section-about-banner {
    grid-column: 1 / span 4;
  }

  .section-about-2 {
    grid-column: 1 / span 4;
  }

  /* Student */
  .section-student {
    width: 100%;
    grid-column: 1 / span 4;
  }

  .student-image img {
    min-height: 0px;
  }

  /* Works */
  .works-section {
    width: 100%;
    grid-column: 1 / span 4;
  }

  /* Directions */
  .directions > * {
    grid-column: 1 / span 4;
  }

  .opening {
    grid-column: 1 / span 4;
  }

  .demo-gallery {
    grid-column: 1 / span 4;
  }

  /* Photos */
  .section-photos {
    grid-column: 1 / span 4;
  }

  .section-photos .photo {
    background-size: contain;
    background-repeat: no-repeat;
    height: 39%;
  }
}
